In [1]:
import numpy as np
import pandas as pd
import polars as pl


#获取维度
orig_train = pl.read_csv('数据源/train.csv')
print("Original train shape",orig_train.shape)
display(orig_train.head())
print()

train = pl.read_csv('数据源/train.csv')
print("Train shape",train.shape)
display(train.head())
print()

train = pl.concat([train, orig_train])
print("Train + orig_train shape",train.shape)
display(train.head())
print()

test = pl.read_csv('数据源/test.csv')
print("Test shape",test.shape)
display(test.head())

target = 'Response'
test = test.with_columns(pl.lit(0).cast(pl.Int64).alias(target))

Original train shape (381109, 12)

shape: (5, 12)
┌─────┬────────┬─────┬─────────────────┬───┬────────────────┬─────────────────┬─────────┬──────────┐
│ id  ┆ Gender ┆ Age ┆ Driving_License ┆ … ┆ Annual_Premium ┆ Policy_Sales_Ch ┆ Vintage ┆ Response │
│ --- ┆ ---    ┆ --- ┆ ---             ┆   ┆ ---            ┆ annel           ┆ ---     ┆ ---      │
│ i64 ┆ str    ┆ i64 ┆ i64             ┆   ┆ f64            ┆ ---             ┆ i64     ┆ i64      │
│     ┆        ┆     ┆                 ┆   ┆                ┆ f64             ┆         ┆          │
╞═════╪════════╪═════╪═════════════════╪═══╪════════════════╪═════════════════╪═════════╪══════════╡
│ 1   ┆ Male   ┆ 44  ┆ 1               ┆ … ┆ 40454.0        ┆ 26.0            ┆ 217     ┆ 1        │
│ 2   ┆ Male   ┆ 76  ┆ 1               ┆ … ┆ 33536.0        ┆ 26.0            ┆ 183     ┆ 0        │
│ 3   ┆ Male   ┆ 47  ┆ 1               ┆ … ┆ 38294.0        ┆ 26.0            ┆ 27      ┆ 1        │
│ 4   ┆ Male   ┆ 21  ┆ 1               ┆ … ┆ 28619.0        ┆ 152.0           ┆ 203     ┆ 0        │
│ 5   ┆ Female ┆ 29  ┆ 1               ┆ … ┆ 27496.0        ┆ 152.0           ┆ 39      ┆ 0        │
└─────┴────────┴─────┴─────────────────┴───┴────────────────┴─────────────────┴─────────┴──────────┘

Train shape (381109, 12)

shape: (5, 12)
┌─────┬────────┬─────┬─────────────────┬───┬────────────────┬─────────────────┬─────────┬──────────┐
│ id  ┆ Gender ┆ Age ┆ Driving_License ┆ … ┆ Annual_Premium ┆ Policy_Sales_Ch ┆ Vintage ┆ Response │
│ --- ┆ ---    ┆ --- ┆ ---             ┆   ┆ ---            ┆ annel           ┆ ---     ┆ ---      │
│ i64 ┆ str    ┆ i64 ┆ i64             ┆   ┆ f64            ┆ ---             ┆ i64     ┆ i64      │
│     ┆        ┆     ┆                 ┆   ┆                ┆ f64             ┆         ┆          │
╞═════╪════════╪═════╪═════════════════╪═══╪════════════════╪═════════════════╪═════════╪══════════╡
│ 1   ┆ Male   ┆ 44  ┆ 1               ┆ … ┆ 40454.0        ┆ 26.0            ┆ 217     ┆ 1        │
│ 2   ┆ Male   ┆ 76  ┆ 1               ┆ … ┆ 33536.0        ┆ 26.0            ┆ 183     ┆ 0        │
│ 3   ┆ Male   ┆ 47  ┆ 1               ┆ … ┆ 38294.0        ┆ 26.0            ┆ 27      ┆ 1        │
│ 4   ┆ Male   ┆ 21  ┆ 1               ┆ … ┆ 28619.0        ┆ 152.0           ┆ 203     ┆ 0        │
│ 5   ┆ Female ┆ 29  ┆ 1               ┆ … ┆ 27496.0        ┆ 152.0           ┆ 39      ┆ 0        │
└─────┴────────┴─────┴─────────────────┴───┴────────────────┴─────────────────┴─────────┴──────────┘

Train + orig_train shape (762218, 12)

shape: (5, 12)
┌─────┬────────┬─────┬─────────────────┬───┬────────────────┬─────────────────┬─────────┬──────────┐
│ id  ┆ Gender ┆ Age ┆ Driving_License ┆ … ┆ Annual_Premium ┆ Policy_Sales_Ch ┆ Vintage ┆ Response │
│ --- ┆ ---    ┆ --- ┆ ---             ┆   ┆ ---            ┆ annel           ┆ ---     ┆ ---      │
│ i64 ┆ str    ┆ i64 ┆ i64             ┆   ┆ f64            ┆ ---             ┆ i64     ┆ i64      │
│     ┆        ┆     ┆                 ┆   ┆                ┆ f64             ┆         ┆          │
╞═════╪════════╪═════╪═════════════════╪═══╪════════════════╪═════════════════╪═════════╪══════════╡
│ 1   ┆ Male   ┆ 44  ┆ 1               ┆ … ┆ 40454.0        ┆ 26.0            ┆ 217     ┆ 1        │
│ 2   ┆ Male   ┆ 76  ┆ 1               ┆ … ┆ 33536.0        ┆ 26.0            ┆ 183     ┆ 0        │
│ 3   ┆ Male   ┆ 47  ┆ 1               ┆ … ┆ 38294.0        ┆ 26.0            ┆ 27      ┆ 1        │
│ 4   ┆ Male   ┆ 21  ┆ 1               ┆ … ┆ 28619.0        ┆ 152.0           ┆ 203     ┆ 0        │
│ 5   ┆ Female ┆ 29  ┆ 1               ┆ … ┆ 27496.0        ┆ 152.0           ┆ 39      ┆ 0        │
└─────┴────────┴─────┴─────────────────┴───┴────────────────┴─────────────────┴─────────┴──────────┘

Test shape (127037, 11)

shape: (5, 11)
┌────────┬────────┬─────┬───────────────┬───┬──────────────┬──────────────┬──────────────┬─────────┐
│ id     ┆ Gender ┆ Age ┆ Driving_Licen ┆ … ┆ Vehicle_Dama ┆ Annual_Premi ┆ Policy_Sales ┆ Vintage │
│ ---    ┆ ---    ┆ --- ┆ se            ┆   ┆ ge           ┆ um           ┆ _Channel     ┆ ---     │
│ i64    ┆ str    ┆ i64 ┆ ---           ┆   ┆ ---          ┆ ---          ┆ ---          ┆ i64     │
│        ┆        ┆     ┆ i64           ┆   ┆ str          ┆ f64          ┆ f64          ┆         │
╞════════╪════════╪═════╪═══════════════╪═══╪══════════════╪══════════════╪══════════════╪═════════╡
│ 381110 ┆ Male   ┆ 25  ┆ 1             ┆ … ┆ No           ┆ 35786.0      ┆ 152.0        ┆ 53      │
│ 381111 ┆ Male   ┆ 40  ┆ 1             ┆ … ┆ Yes          ┆ 33762.0      ┆ 7.0          ┆ 111     │
│ 381112 ┆ Male   ┆ 47  ┆ 1             ┆ … ┆ Yes          ┆ 40050.0      ┆ 124.0        ┆ 199     │
│ 381113 ┆ Male   ┆ 24  ┆ 1             ┆ … ┆ Yes          ┆ 37356.0      ┆ 152.0        ┆ 187     │
│ 381114 ┆ Male   ┆ 27  ┆ 1             ┆ … ┆ No           ┆ 59097.0      ┆ 152.0        ┆ 297     │
└────────┴────────┴─────┴───────────────┴───┴──────────────┴──────────────┴──────────────┴─────────┘

In [2]:
df = pl.concat([train, test])

df = df.with_columns([
    pl.col('Gender').replace({'Male': 0, 'Female': 1}).cast(pl.Int32),
    pl.col('Region_Code').cast(int),
    pl.col('Vehicle_Age').replace({'< 1 Year': 0, '1-2 Year': 1, '> 2 Years': 2}).cast(pl.Int32),
    pl.col('Vehicle_Damage').replace({'No': 0, 'Yes': 1}).cast(pl.Int32),
    pl.col('Annual_Premium').cast(int),
    pl.col('Policy_Sales_Channel').cast(int)
])

df = df.with_columns([
    (pl.Series(pd.factorize((df['Previously_Insured'].cast(str) + df['Annual_Premium'].cast(str)).to_numpy())[0])).alias('Previously_Insured_Annual_Premium'),
    (pl.Series(pd.factorize((df['Previously_Insured'].cast(str) + df['Vehicle_Age'].cast(str)).to_numpy())[0])).alias('Previously_Insured_Vehicle_Age'),
    (pl.Series(pd.factorize((df['Previously_Insured'].cast(str) + df['Vehicle_Damage'].cast(str)).to_numpy())[0])).alias('Previously_Insured_Vehicle_Damage'),
    (pl.Series(pd.factorize((df['Previously_Insured'].cast(str) + df['Vintage'].cast(str)).to_numpy())[0])).alias('Previously_Insured_Vintage')
])

train = df[:train.shape[0]].to_pandas()
test = df[train.shape[0]:].to_pandas()
    
X = train.drop(['id', target], axis=1)
y = train[target]
X_test = test.drop(['id', target], axis=1)

display(y.value_counts())
display(train.head())
print()
display(test.head())

Response
0    668798
1     93420
Name: count, dtype: int64

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response,Previously_Insured_Annual_Premium,Previously_Insured_Vehicle_Age,Previously_Insured_Vehicle_Damage,Previously_Insured_Vintage
0,1,0,44,1,28,0,2,1,40454,26,217,1,0,0,0,0
1,2,0,76,1,3,0,1,0,33536,26,183,0,1,1,1,1
2,3,0,47,1,28,0,2,1,38294,26,27,1,2,0,0,2
3,4,0,21,1,11,1,0,0,28619,152,203,0,3,2,2,3
4,5,1,29,1,41,1,0,0,27496,152,39,0,4,2,2,4

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response,Previously_Insured_Annual_Premium,Previously_Insured_Vehicle_Age,Previously_Insured_Vehicle_Damage,Previously_Insured_Vintage
0,381110,0,25,1,11,1,0,0,35786,152,53,0,15697,2,2,366
1,381111,0,40,1,28,0,1,1,33762,7,111,0,6700,1,0,545
2,381112,0,47,1,28,0,1,1,40050,124,199,0,6391,1,0,225
3,381113,0,24,1,27,1,0,1,37356,152,187,0,44524,2,3,465
4,381114,0,27,1,28,1,0,0,59097,152,297,0,81340,2,2,570

In [3]:
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import StratifiedKFold
import catboost as cb
from catboost import Pool
import gc

FOLDS = 5
skf = StratifiedKFold(n_splits=FOLDS, shuffle=True, random_state=42)
test_preds = np.zeros((len(X_test), FOLDS), dtype=np.float32)
scores = []
for fold, (train_idx, val_idx) in enumerate(skf.split(X, y)):
    print("#" * 25)
    print(f"# Fold {fold + 1}")
    print("#" * 25)
    X_train_fold = X.loc[train_idx]
    y_train_fold = y.loc[train_idx].values
    X_val_fold = X.loc[val_idx]
    y_val_fold = y.loc[val_idx].values
    X_train_pool = Pool(X_train_fold, y_train_fold, cat_features=X.columns.values)
    X_val_pool = Pool(X_val_fold, y_val_fold, cat_features=X.columns.values)
    X_test_pool = Pool(X_test, cat_features=X_test.columns.values)
    
    # Train CatBoost
    model = cb.CatBoostClassifier(
        loss_function='Logloss',        # 评估模型的性能 逻辑损失函数
        eval_metric='AUC',              # 分类任务 参数为auc
        class_names=[0, 1],             # 指定目标变量
        learning_rate=0.075,            # 学习率 控制模型在每次迭代中更新的步长大小
        iterations=5000,                # 迭代次数
        depth=9,                        # 决策树的最大深度
        random_strength=0,              # 不引入任何随机性  决策树构建过程是确定性的
        l2_leaf_reg=0.5,                # L2叶正则化  用于控制模型的复杂度 以防止过拟合
        max_leaves=512,                 # 指定一棵树可以拥有的最大叶节点数量
        fold_permutation_block=64,      # 折叠排列块 控制数据混洗的方式
        task_type='GPU',                # 任务类型 指定训练过程是在CPU还是GPU上执行
        random_seed=42,                 # 随机种子 用于初始化随机数生成器 确保模型训练的可重复性
        verbose=False                   # 是否输出详细信息
    )
    model.fit(X=X_train_pool, 
              eval_set=X_val_pool, 
              verbose=500, 
              early_stopping_rounds=200)

    score = model.best_score_['validation']['AUC']  #最佳迭代的性能指标  提取AUC(曲线下的面积)分数
    print('Fold ROC-AUC score: ', score)            #ROC-AUC分数
    scores.append(score)

    test_preds[:, fold] = model.predict_proba(X_test)[:, 1]
    
    # 清理工作环境，释放不再需要的变量所占用的内存资源
    # 有助于防止内存不足的错误
    del X_train_fold, y_train_fold
    del X_val_fold, y_val_fold
    del X_train_pool, X_val_pool, X_test_pool
    del model
    gc.collect()

# ROC-AUC  评估分类模型性能
print('Mean ROC-AUC score: ', sum(scores) / FOLDS)

test_preds = np.mean(test_preds, axis=1)                    #取预测结果的平均值
submission = pd.read_csv('数据源/sample_submission.csv')
submission[target] = test_preds.astype(np.float32)
submission['id'] = submission['id'].astype(np.int32)
submission.to_csv('submission.csv', index=False)
submission

#########################
# Fold 1
#########################

Default metric period is 5 because AUC is/are not implemented for GPU

0:	test: 0.8518126	best: 0.8518126 (0)	total: 83.1ms	remaining: 6m 55s
500:	test: 0.9934412	best: 0.9934607 (432)	total: 39.1s	remaining: 5m 51s
bestTest = 0.9934607148
bestIteration = 432
Shrink model to first 433 iterations.
Fold ROC-AUC score:  0.9934607148170471
#########################
# Fold 2
#########################

Default metric period is 5 because AUC is/are not implemented for GPU

0:	test: 0.8527393	best: 0.8527393 (0)	total: 290ms	remaining: 24m 8s
500:	test: 0.9935852	best: 0.9936504 (312)	total: 35.8s	remaining: 5m 21s
bestTest = 0.9936504364
bestIteration = 312
Shrink model to first 313 iterations.
Fold ROC-AUC score:  0.9936504364013672
#########################
# Fold 3
#########################

Default metric period is 5 because AUC is/are not implemented for GPU

0:	test: 0.8538486	best: 0.8538486 (0)	total: 152ms	remaining: 12m 37s
500:	test: 0.9937010	best: 0.9937206 (315)	total: 37s	remaining: 5m 32s
bestTest = 0.9937205911
bestIteration = 315
Shrink model to first 316 iterations.
Fold ROC-AUC score:  0.9937205910682678
#########################
# Fold 4
#########################

Default metric period is 5 because AUC is/are not implemented for GPU

0:	test: 0.8532227	best: 0.8532227 (0)	total: 189ms	remaining: 15m 45s
500:	test: 0.9937294	best: 0.9937356 (421)	total: 36.5s	remaining: 5m 28s
bestTest = 0.9937568903
bestIteration = 546
Shrink model to first 547 iterations.
Fold ROC-AUC score:  0.993756890296936
#########################
# Fold 5
#########################

Default metric period is 5 because AUC is/are not implemented for GPU

0:	test: 0.8518180	best: 0.8518180 (0)	total: 299ms	remaining: 24m 56s
bestTest = 0.9937987924
bestIteration = 242
Shrink model to first 243 iterations.
Fold ROC-AUC score:  0.9937987923622131
Mean ROC-AUC score:  0.9936774849891663

            id  Response
0       381110  0.000445
1       381111  0.306483
2       381112  0.294409
3       381113  0.008425
4       381114  0.000299
...        ...       ...
127032  508142  0.000342
127033  508143  0.392208
127034  508144  0.000238
127035  508145  0.000195
127036  508146  0.001426

[127037 rows x 2 columns]